.button {
    background-color: black;
    border: none;
    color: white;
    transition: .3s;
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
    }
}