.card-product {
    display: flex;
    width: 64rem;
    margin: auto;

    &__img {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        flex-shrink: 0;
    }

    &__title { 
        font-size: 32px;
        font-weight: 700;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__desc {
        margin-bottom: 16px;
    }

    &__price {
        margin-bottom: 8px;
    }
}