.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gainsboro;

    &__container {
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__nav {
        margin-right: 8px;
    }
}