  .products {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: calc(33.333% - 1rem);
        margin: 0.5rem;
    }
  }

  .header {
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
  }